html,
body {
    margin: 0;
    overflow-x: clip;
}

* {
    margin: 0;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


/*Parte Principal*/

.bg-fullscreen {
    background-image: url('../assets/banner-principal.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    margin-bottom: 200px;
}

.btn-ft-page{
    border-radius: 8px;
    background-color: rgb(48, 179, 209);
    width: 388px;
    height: 47px;
    text-transform: uppercase;
    font-family: var(--font-TitanOne);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-branco);
    font-size: 19px;
    transition: all 0.5s ease-in-out;
}

.btn-ft-page:hover {
    background-color: rgb(23 109 129) !important;
}

.max-width-text-st p{
    max-width: 570px;
    line-height: 25px;
}


/*Parte Festival*/

.festivalSection{
    padding-top: 40px;
}

.festivalSection h2{
    font-size: 42px;
}

.festivalSection span{
    line-height: 8px;
    margin-bottom: 40px;
    font-size: 48px;
}

.festivalSection p{
    font-size: 19px;
}

.festivalSection b{
    font-size: 19px;
}

.festivalSection button{
    width: 380px;
}


/*Parte do Vídeo*/

.videoSection{
    padding-top: 100px;
    margin-bottom: 100px;
}

.videoSection b{
    max-width: 150px;
    line-height: 30px;
    font-size: 25px;
}

.videoSection .itens img{
    width: 63px;
    height: 60px;
    margin-left: 20px;
}

.videoSection h2 {
    max-width: 342px;
    font-size: 42px;
}

.videoSection span{
    margin-bottom: 50px;
    line-height: 8px;
    font-size: 48px;
}

.videoSection p{
    line-height: 20px;
    max-width: 330px;
    font-size: 19px;
}

.img-play-video{
    padding-left: 60px;
}

.videoSection button{
    width: 330px;
}


/*Parte das Vantagens*/

.vantagensSection {
    padding-top: 30px;
    background-image: url('../assets/banner-tradicional.webp');
    min-height: 730px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.vantagensSection h2{
    font-size: 42px;
}

.vantagensSection span{
    font-size: 48px;
    line-height: 10px;
}

.vantagensSection img{
    width: auto;
    object-fit: contain;
}

.vantagensSection h3{
    font-size: 18px;
    margin-top: 15px;
    line-height: 25px;
    text-transform: uppercase;
    max-width: 190px;
    color: white;
}


/*Parte de anúncios mobile*/

.adMobile .ad .info h2{
    line-height: 40px;
    max-width: 307px;
}

.adMobile .ad .info2 h2{
    width: 228px;
}

.adMobile .ad .info-2 span{
    margin-bottom: 40px;
}

.adMobile .ad .info-2 p{
    max-width: 233px;
    font-size: 19px;
}

.adMobile span{
    font-size: 48px;
    line-height: 8px;
    margin-bottom: 30px;
}

.adMobile .ad .info p{
    max-width: 300px;
    font-size: 19px;
}

.adMobile .ad img{
    width: 160px;
    height: 300px;
}

.adMobile button{
    width: 250px;
}

.adMobile .ad .cardapio{
    margin-top: 10px;
    margin-right: 10px;
}

.adMobile{
    padding-top: 30px;
}


/*Parte do Formulário*/

.formSection{
    padding-top: 120px;
}

.formSection h2{
    font-size: 42px;
    line-height: 30px;
}

.formSection span{
    line-height: 10px;
    margin-bottom: 30px;
    font-size: 48px;
}

.formSection .st-p{
    max-width: 331px;
    text-align: left;
}

.formSection img{
    width: 90%;
}

.formSection .order-1{
    padding-top: 80px;
}

.input-form{
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 42px;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 20px;
}

.nd-p{
    font-size: 13px;
    text-align: justify;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 8px;
}

.input-form::placeholder{
    font-size: 13px;
    color: rgba(134, 134, 134, 0.722);
    line-height: 1.769;
}

.formSection p label{
    text-align: justify;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 10px;
}

.formSection button{
    width: 161px;
    font-size: 19px;
}


/*Parte da Galeria*/

.galeriaSection{
    padding-top: 160px;
    margin-bottom: 200px;
}

.galeriaSection h2 {
    line-height: 25px;
    margin-top: 35px;
    font-size: 42px;
}

.galeriaSection span{
    line-height: 40px;
    font-size: 48px;
}

.portfolio-menu{
	text-align:center;
}

.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item .item{
	float:left;
	margin-bottom:10px;
}

/*Rodapé*/

footer {
    padding-top: 230px;
    background-image: url('../assets/banner-footer-scaled.webp');
    min-height: 605px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer img {
    width: 249px;
    height: 264px;
    object-fit: contain;
}

.icon{
    width: 15px;
    height: 23px;
    margin-right: 10px;
}

footer h2{
    font-size: 42px;
    line-height: 20px;
}

footer span{
    line-height: 40px;
    margin-bottom: 30px;
    font-size: 48px;
}

footer p{
    font-size: 16px;
}

footer p span {
    font-size: 17px;
}

footer .hora{
    padding-left: 100px;
}

footer .info{
    margin-bottom: 20px;
}

footer .info .icon{
    width: 15px;
    height: 23px;
    margin-right: 10px;
}

.ultimoRodape{
    padding-left: 0;
}

.margin-custom{
    margin-bottom: 115px;
}

footer label img{
    width: 145px;
    height: 17px;
    margin-top: -4px;
    margin-left: 2px;
}



